/* font-family: 'Bangers', cursive;
font-family: 'Alegreya Sans SC', sans-serif;
font-family: 'Amatic SC', cursive;*/

body{
    background-image: url("./images/circles-light.png");
    
}

h1{
    text-align:center;
    font-family: 'Bangers', cursive;
    font-size: 60px;
}

.buttons-search{
    border:3px solid #af1515;
    background-image: url("./images/pokeball.png");
    background-size:80px;
    margin-bottom:10px;
    font-family: 'Alegreya Sans SC', sans-serif; 
}
.gifs-location{
    border:2px solid #af1515;
    background-color:rgb(252, 246, 246);
    font-family: 'Bangers', cursive;
}
.gifs-display{
    display:flex;
    flex-wrap: wrap;
}


.btn2{
    margin:4px;
    border:1px solid black;
    background-color:rgb(252, 246, 246);
}

img{
    margin:4px;
}

.form{
    background-color:rgb(176, 177, 245);
}

.input-group{
    padding-top:12px;
}

.btn{
    border:1px solid black;
}

#form{
    border:1px solid black;
}


#search-button{
    margin:4px;
    margin-left:100px;
}